.App {
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(38,178,231,1) 0%, rgba(38,123,195,1) 100%);

  &-footer{
    width: 100%;
    bottom: 7%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;

    h3 {
      color: white;
      font-size: 20px;
      position: absolute;
      left:calc(50% - 100px);
    }

    svg {
      position: absolute;
      left: 50px;
    }
  }

  &-topper {
    width: 100%;
    top: 4%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      color: white;
      font-size: 20px;
      text-align: center;
    }
  }
}

.contacts{

  &__3d {
    width: 100%;
    height: 100vh;
  }

}

.works {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fbec5d;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  &__canvas {
    position: absolute;
    width: 40%;
    height: 400px;
    left: 5%;
    top: 20%;
    font-size: 60px;
    color: white;

    p {
      margin-left: 5px;
      font-size: 20px;
    }
  }

  &__feed {
    position: absolute;
    background: white;
    right: 5%;
    top: 10%;
    width: 100%;
    max-width: 50%;
    height: 90%;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 63px -16px rgba(174, 220, 255, 1);
    -moz-box-shadow: 4px 4px 63px -16px rgba(174, 220, 255, 1);
    box-shadow: 4px 4px 63px -16px rgba(174, 220, 255, 1);

    &-list {
      overflow-y: scroll;
      height: 100%;
      margin-left: 25px;
      margin-top: 25px;
      margin-right: 15px;
    }

    &-item {

      border: 2px solid #fbec5d;

      &:not(:last-of-type) {
        margin-bottom: 40px;
      }

      &:last-of-type {
        margin-bottom: 40px;
      }

      width: 95%;
      height: auto;
      background: #fbec5d;
      //border: 3px solid #bfbfbf;

      .first {
        background: url("../public/assets/first.jpg") center center no-repeat;
        background-size: cover;
      }

      .second {
        background: url("../public/assets/second.jpg") center center no-repeat;
        background-size: cover;
      }

      .third {
        background: url("../public/assets/third.jpg") center center no-repeat;
        background-size: cover;
      }


      &-img {
        width: 100%;
        min-height: 400px;
        height: 50%;
        transition: min-height 0.15s ease-in-out;

        //&:hover {
        //  transition: min-height 0.15s ease-in-out;
        //  min-height: 800px;
        //}

      }

      h3 {
        font-size: 20px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(17, 17, 17);
        word-spacing: 5px;
      }

    }
  }
}
.mobile-message{
  color:white;
  font-size: 20px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}
.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &__left {
    width: 25%;
    height: 100%;
    background: url("../public/assets/blackguy.png") center center no-repeat;
    background-size: cover;
  }

  &__main {
    width: 50%;
    height: 100%;
    background: rgb(251,236,93);
    -webkit-box-shadow: 4px 4px 63px 40px rgba(251, 225, 93, 0.63);
    -moz-box-shadow: 4px 4px 63px 40px rgba(251, 225, 93, 0.63);
    box-shadow: 4px 4px 63px 40px rgba(251, 225, 93, 0.63);
    animation: mymove 5s infinite;
    display: flex;
    flex-direction: column;

    &-text {
      margin-top: 80px;
      padding: 40px;

      span {
        background: #ffffff;
        color:rgb(0, 0, 0);
        padding: 20px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #242424;
      }

      h5 {
        margin-top: 120px;
        font-family: Roboto;
        font-size: 30px;
        text-align: center;
        color: #242424;
      }
    }

    &-svg {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      svg {
        width: 90%;

        path {
          fill: #1f1f1f;
        }
      }
    }

    @-webkit-keyframes mymove {
      50% {
        -webkit-box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
        -moz-box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
        box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
      }
    }

    @keyframes mymove {
      50% {
        -webkit-box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
        -moz-box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
        box-shadow: 2px 2px 53px 30px rgba(251, 225, 93, 0.63);
      }
    }
  }



  &__right {
    width: 25%;
    height: 100%;
    background: url("../public/assets/fish.png") center center no-repeat;
    background-size: cover;
  }
}